# .gitignore for evdh, sceext <sceext@foxmail.com> 2009EisF2015, 2015.02 
# version 0.0.4.0 test201502071229

# private token file
*.token

# ignore tmp file for evdh
tmp/

# ignore node.js module dir
node_modules/

# gedit tmp files
.gitignore~
*.sh~
*.js~
*.xml~
*.log~
*.md~

*.bat~

# end .gitignore


